@{
    ViewData["Title"] = "Home Page";
}

<div class="text-left fw-bold" >
    <h1 id="he" class="display-4">Welcome</h1>
    <p> TO THE PROJECT OF HASSAN</p>
</div>
<style>
    #he
    {
        color:black;
    }
</style>